{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}Contatos{% endblock title %}

{% block content %}

<form class="navbar-form navbar-right" action="." method="get">
    <!-- add -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-person">
      <span class="glyphicon glyphicon-plus"></span> Adicionar
    </button>
    <!-- search form -->
    <div class="form-group">
      <input id="search_box" name="search_box" type="text" placeholder="Localizar..." class="form-control">
      <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
  </div>
</form>

<div class="page-header">
<h2><h2><i class="fa fa-user"></i> Lista de Contatos</h2>
</div>

<style>
  .hide-phone{
    display: none;
  }
</style>

<div>
{% if person_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>UF</th>
      </tr>
    </thead>
    <tbody>
    {% for person in person_list %}
      <tr>
        <td><a href="{{ person.get_absolute_url }}">{{ person.full_name }}</a></td>
        <td>{{ person.email }}</td>
        <td><button class='btn btn-default js-phone'>Phone</button></td>
        {% for p in person.phone_set.all %}
          <td class='hide-phone'>{{ p }}</td>
        {% endfor %}
        <td>{{ person.get_uf_display }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="alert alert-warning">Sem itens na lista.</p>
{% endif %}
</div>

<!-- Modal -->
<div id="modal-person" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="">

        <div class="modal-header">
          <button class="close" aria-label="Close" data-dismiss="modal" type="button">
            <span aria-hidden="True">&times;</span>
          </button>
          <h4 class="modal-title">Novo</h4>
        </div> <!-- header -->

        <div class="modal-body">
          {% csrf_token %}
          {{ form|bootstrap }}
        </div> <!-- body -->

        <div class="modal-footer">
          <button type="submit" id="add_person" name="add_person" class="btn btn-primary">Salvar</button>
          <button id="dismiss_person" type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div> <!-- footer -->

      </form>
    </div>
  </div>
</div>


<script>
  // callback handler for form submit
  $("#modal-person form").submit(function(e) {
      e.preventDefault(); //STOP default action
      var postData = $(this).serialize();
      var formURL = "{% url 'core:person_add' %}";
      $.ajax(
      {
          url : formURL,
          type: "POST",
          data : postData,
          success:function(data, textStatus, jqXHR) 
          {
              $("#modal-person").modal('hide');
              location.href = '/person/';
          },
          error: function(jqXHR, textStatus, errorThrown) 
          {
              alert('Deu erro!');
          }
      });
  });

  // show phones
  $('.js-phone').click(function(){
    var $this = $(this)
    $this.parent().siblings().filter('.hide-phone').show()
    $this.hide()

  });
</script>


<hr>
<div>
<h4><b>Total:</b> {{ page_obj.paginator.count }} contato{{ page_obj.paginator.count|pluralize }}</h4>
</div>

{% include "pagination.html" %}

{% endblock content %}
